body {
    /*font-family: proxima-soft;*/
    font-family: "Open Sans",sans-serif;
    padding-bottom: 20px;
    text-rendering: optimizeLegibility;
    color: #131313;
    letter-spacing: 1px;
    margin-top:15px;
}
/**/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.divTable {
    display: table;
    width: 100%;
}

.col-xs-2-campaign-manager {
    width: 11.667%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.campaign-manager {
    font-size: 14px;
}

@font-face {
    font-family: "proxima-soft";
    font-style: normal;
    font-weight: 700;
    src: url("https://use.typekit.net/af/ee9796/00000000000000003b9af20a/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"), url("https://use.typekit.net/af/ee9796/00000000000000003b9af20a/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"), url("https://use.typekit.net/af/ee9796/00000000000000003b9af20a/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
}

@font-face {
    font-family: "Open Sans";
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight:normal;
}

.ezlogo 
{
    display: block;
    max-width: 200px;
    width: 100%;
    float: left;
    padding:10px;
}


h2 a.navbar-brand {
    font-size: 2rem;
}

.navbar-brand {
    font-size: 22px;
}


.navbar-nav > li > a {
    padding-top: 3px;
    line-height: 20px;
}

.navbar-brand {
    font-size: 19px;
}

.results-list {
    font-weight: normal;
}
.bold{
    font-weight:bold;
}

.navbar-brand {
    font-size: 30px;
}

.menu-item{
    font-size:17px;
}

label {
    font-weight: normal;
    color: #777171;
}

#poweredBy {
    padding: 1em;
    text-align: center;
    margin: 2rem -2rem -2rem -2rem;
}

.center{
    text-align:center;
}

.float-left{
    float:left;
}

.campaign-manager-camp-name-container{
    width:30%;
}

.pagination-dropdown {
    padding-left: 0;
    list-style: none;
    float: left;
    margin: 0;
}

.pagination-dropdown > li > a {
    padding-top: 0px;
    line-height: 20px;
    padding-left:10px;
    padding-right:10px;
}

.login-linkelement {
    padding-top: 20px;
    padding-right: 10px;
}

.container-fluid {
    padding-right: 200px;
    padding-left: 200px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-default .navbar-nav > li > .nav-spacer {
    padding-top: 21px;
}

.field-validation-error.customer-details-form-error {
    float: left;
    width: 50%;
    color: #a94442;
    padding-left:17px;
    padding-top:8px;
}

.form-control.customer-details-form{
    width:40%;
    float:left;
}

.container{
    margin-bottom:40px;
}

.table-header-row{
    margin-top:62px;
}

.table-fixed thead {
    width: 98%;
}

.table-fixed tbody {
    height: 600px;
    overflow-y: auto;
    width: 100%;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}

.table-fixed tbody td, .table-fixed thead > tr > th {
    float: left;
    border-bottom-width: 0;
}

.twenty-pixel-top-margin{
    margin-top:20px;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    padding-left:0px;
}

.tag-table-container {
    padding: 10px 105px 110px 105px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    position: relative;
    
}



.light-grey{
    color:lightslategray;
    font-size:14px;
}

.css-sm-container-each
{
    
}

    .css-sm-container-each > div {
        background-color: white !important;
        box-shadow: 0px 0px 4px grey !important;
        text-align: center;
        padding: 2em 3em 6em 3em;
        width: 1302px !important;
    }
    .css-sm-container-each > div > div{
        text-align: justify;
        /*padding: 8em 3em 0em 3em*/
    }


.css-sm-table {
    padding: 15px 5px 11px 5px;
}

    .css-sm-table .table-header label {
        font-weight: bolder;
    }
    .css-sm-table .table-header .row {
        height: 44px;
        line-height: 39px;
        margin: auto;
        padding: 0px 11px;
        border-bottom: 3px solid gray !important;
        font-weight: bold;
        width: 97%;
    }

    .css-sm-table .table-body .row {
        margin: auto;
        height: 44px;
        line-height: 39px;
        width: 97%;
        border-bottom: 1px solid #f7f3f3;
        
    }
        .css-sm-table .table-body .row:nth-of-type(even) {
            background-color: #fbf9f7;
            
        }


.css-sm-table-TagStatus {
    padding: 15px 5px 11px 5px;
}

    .css-sm-table-TagStatus lbl {
        font-size: 13px;
        position: absolute;
        margin-top: -18px !important;
        color: #7c828e;
        font-weight: lighter;
        text-shadow: 0px 1px 0px white;
    }


    .css-sm-table-TagStatus .table-header label {
        font-weight: bolder;
    }

    .css-sm-table-TagStatus .table-header .row {
        height: 44px;
        line-height: 39px;
        margin: auto;
        padding: 0px 11px;
        border-bottom: 3px solid gray !important;
        font-weight: bold;
        width: 97%;
    }

    .css-sm-table-TagStatus .table-body .row {
        margin: auto;
        height: 44px;
        line-height: 39px;
        width: 97%;
        
    }

        .css-sm-table-TagStatus .table-body .row:nth-of-type(even) {
            background-color: #efefef;
            font-weight: bold;
            text-shadow: 0px 1px 0px white;
            color: #8e8585;
            text-shadow: -1px 0px 1px #f8f9f6;
            padding: 0px 0px 52px 48px !important;
        }

        

.css-sm-bold
{
    font-weight: bolder;
}

.css-AreYouSure-YesNo
{
    display: none;
}
.css-sm-fontsize25 {
    font-size: 25px;
    text-shadow: -1px -1px 0 white
}

.css-sm-summarytop {
    /* background-color: #ffffff; */
    padding: 8px 0px 16px 0px;
    border-bottom: 7px solid #ecde97;
    /* border-radius: 9px; */
    font-size: 28px;
    font-weight: bold;
    color: #826d6d;
    margin-bottom: 30px;
    height: 77px;
    
}

    .css-sm-summarytop label {
        font-weight: bold;
        color: #777171;
    }



    .css-sm-summarytop label2 {
        font-size: 12px;
        font-weight: lighter;
        position: absolute;
        padding: 10px;
        margin-top: -12px;
        margin-left: -10px;
    }

    .css-sm-summarytop prc {
        font-size: 12px;
        font-weight: lighter;
        
    }

.css-sm-tagfilter {
    background-color: #f1e5e5;
    padding: 8px 0px 10px 0px;
    border: 1px solid #d4c5c5;
    border-radius: 2px;
    font-size: 12px;
    color: #826d6d;
    margin-bottom: 30px;
}

    .css-sm-tagfilter div {
        padding: 0px;
        padding-top: 15px;
    }

    .css-sm-tagfilter label {
        font-size: 14px;
        font-weight: bold;
        margin-left: 15px;
    }

#ul_daysselector li {
    font-size: 12px;
    text-decoration: none;
    margin-right: 80px !important;
}
#ul_daysselector a {
    color: #9a7878;
    text-shadow: 0px 1px 0px white;
    font-weight: bold;
}

    #ul_daysselector a:hover {
        color: #caaaaa !important;
        text-shadow: 0px 0px 3px #ffca68;
        text-decoration: none;
    }

    .LIactive a {
        color: red !important;
    }

    .css-sm-tagfilter p {
        position: absolute;
        font-weight: bold;
        margin-left: 220px;

    }

    .css-sm-tagfilter #inp_filtertag {
        margin-top: 2px;
    }

    .css-sm-tagfilter #a_update {
        background-color: #d2c4c4 !important;
        border: 1px solid #afa6a6 !important;
        float: right;
        text-decoration: none;
    }

.css-sm-tag a:hover
{
    cursor: pointer;
}

#loginForm
{
    
}

.css-sm-table-1 {
    width: 100%;
    border: 0px solid gray;
}

    .css-sm-table-1 thead tr {
        
        height: 72px;
    }

    .css-sm-table-1 thead td {
    width: 25%;
    }

    .css-sm-table-1 thead label {
        font-weight: bold;
        color: #777171;
        font-size: 25px;
        margin-left: 15px;
    }



    .css-sm-table-1 thead label2 {
        font-size: 12px;
        font-weight: lighter;
        position: absolute;
        padding: 10px;
        margin-top: -12px;
        margin-left: 5px;
        width: 350px;
    }

    .css-sm-table-1 tr lbl {
        font-size: 12px;
        font-weight: lighter;
        position: absolute;
        padding: 10px;
        margin-top: -8px;
        margin-left: -10px;
        
    }
    .css-sm-table-1 tr {
        height: 54px;
    }

    .css-sm-table-1 tr:nth-child(even) {
        background-color:#e6d7d7;
    }


    .css-sm-table-1 css-sm-animate-slideUp {
    }

    .css-sm-table-1 tr td{
    }